<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--绑定IP与端口，不配置则以 http://localhost:9000/ 为默认值，http://+:9000/ 为绑定所有IP，开放局域网访问-->
    <add key="IPPort" value="http://localhost:9000/" />
  </appSettings>
</configuration>