<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fake.webservice.com/Test.asmx" binding="basicHttpBinding"
                bindingConfiguration="AccountServiceSoap" contract="AccountService.AccountServiceSoap"
                name="AccountServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>